*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul{
    list-style-type: none;
}

li{
    margin:1rem;
    box-shadow: -3px 3px 13px 0px rgba(0,0,0,0.45);
}

li div{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    padding-right: 10px;
    font-weight: bold;
    color: #FFF ;
}

input{
    margin-left: 10px;
    margin-right: 10px;
}

ul li:has(input:checked) {
    border: 1px solid #F68459;
    accent-color: #BB1924;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    background-color: #F36321;
}

ul li:not(:has(input:checked)) {
    border: 1px solid #F6BE84;
    border-radius: 5px;
    width: 100%;
    background-color: #F5D440;
}