*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

button{
    background: #0061B2;
    border-radius: 28px;
    border-color: #0061B2;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 5px;
}


button:focus{
    background: #39C481;
    border-color: #39C481;
}


.input {
	font-size: 18px;
	padding: 5px 10px;
	padding-left: 35px;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
	transition: .3s ease;
}

.input:focus {
	background: #F2F2F2;
	border: 1px solid #5A7EC7;
	border-radius: 10px;
}

.input::placeholder {
	color: #DDDDDD;
}

a{
    text-decoration: none;
    background-color: #5A7EC7;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
}

a:focus{
    color:#E2E2E2;
}



